#local-search
  .search-dialog
    nav.search-nav
      span#loading-status
      button.search-close-button
        i.fas.fa-times

    #loading-database.is-center
      i.fas.fa-spinner.fa-pulse
      span= '  ' + _p("search.load_data")

    .search-wrap
      #local-search-input
        .local-search-box
          input(placeholder=_p("search.local_search.input_placeholder") type="text").local-search-box--input
      hrl.line(style='margin-top:15px; border: 2px dashed var(--search-border-color) !important;')
      #local-search-results
      hrl.line(style='border: 2px dashed var(--search-border-color) !important;')

  #search-mask