#local-search
  .search-dialog
    .local-search-box
      margin: 0 auto
      max-width: 100%
      width: 100%

      input
        padding: 15px
        width: 100%
        outline: none
        border: 1px solid var(--search-border-color)
        border-radius: 100vh
        background: transparent
        font-size: 27px
        text-align: center
        font-weight: 600 
        color: var(--search-input-color)
        -webkit-appearance: none

    .search-wrap
      display: none

    .local-search__hit-item
      position: relative
      padding: 15px
      line-height: 1.7

      a
        display: block
        font-weight: 800
        cursor: pointer
        font-size: 20px
        color: var(--search-border-color)

      .search-result
        margin: 0 8px 8px 0
        word-break: break-all
        font-size: 17px !important

      .search-keyword
        color: $search-keyword-highlight
        font-weight: bold

    .search-result-list
      overflow-y: auto
      max-height: calc(80vh - 130px)

      +maxWidth768()
        padding-bottom: 40px
        max-height: 75vh !important

.local-search__hit-item
    height: 90px
    text-align: center
    overflow: hidden
    transition: all .5s
    border-bottom: 1px dashed var(--search-border-color)

    &:hover
      background: var(--search-border-color)
      color: var(--global-bg)

      a
        color: var(--global-bg) !important