/* 首页分类条展示 */
#tag-bar{
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  background: var(--heo-card-bg);
  border-radius: 12px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
  border: var(--style-border);
}

@media screen and (max-width: 768px){
  #tag-bar{
    border-radius: 0;
  }
}

#tag #tag-bar{
  padding: 0;
  border: none;
}

#tag a.tag-bar-item.select a{
  display: none;
}

.tag-in-bar{
  display: flex;
  white-space: nowrap;
}

.tag-in-bar-tips{
  margin-right: 1rem;
}

.tag-bar-items{
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
}

.tag-bar-items::-webkit-scrollbar{
  display: none;
}

.tag-bar-item a{
  padding: 0.1rem 0.5rem;
  margin: 0 0.25rem;
  font-weight: bold;
  border-radius: 12px;
}

.tag-bar-item:hover a{
  background: var(--heo-main);
  color: var(--heo-white);
}

.tag-bar-item.select a {
  background: var(--heo-main);
  color: var(--heo-white);
  border-radius: 12px;
}

.tag-bar-more{
  margin-left: 1rem;
  font-weight: bold;
}

/* 首页分类条展示 */
#category-bar{
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  background: var(--heo-card-bg);
  border-radius: 12px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
  border: var(--style-border);
}

@media screen and (max-width: 768px){
  #category-bar{
    border-radius: 0;
  }
}

#category #category-bar{
  padding: 0;
  border: none;
}

#category a.category-bar-item.select a{
  display: none;
}

.category-in-bar{
  display: flex;
  white-space: nowrap;
}

.category-in-bar-tips{
  margin-right: 1rem;
}

.category-bar-items{
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
}



.category-bar-items::-webkit-scrollbar{
  display: none;
}

.category-bar-item a{
  padding: 0.1rem 0.5rem;
  margin: 0 0.25rem;
  font-weight: bold;
  border-radius: 12px;
}

.category-bar-item:hover a{
  background: var(--heo-main);
  color: var(--heo-white);
}

.category-bar-item.select a {
  background: var(--heo-main);
  color: var(--heo-white);
  border-radius: 12px;
}

.category-bar-more{
  margin-left: 1rem;
  font-weight: bold;
}