@font-face {
  font-family: "dys"; /* Project id 4221034 */
  src: url('//at.alicdn.com/t/c/font_4221034_o4heeq0yo2.woff2?t=1693585984310') format('woff2'),
       url('//at.alicdn.com/t/c/font_4221034_o4heeq0yo2.woff?t=1693585984310') format('woff'),
       url('//at.alicdn.com/t/c/font_4221034_o4heeq0yo2.ttf?t=1693585984310') format('truetype');
}

.dys {
  font-family: "dys" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard:before {
  content: "\e88b";
}

.apps:before {
  content: "\e849";
}

.tower:before {
  content: "\e885";
}

.spinner3:before {
  content: "\e855";
}

.left_double:before {
  content: "\e677";
}

.right_double:before {
  content: "\e678";
}

.jingliren_o:before {
  content: "\ebc4";
}

.arrow-right:before {
  content: "\e660";
}

.arrow-left:before {
  content: "\e667";
}

.searchico:before {
  content: "\e648";
}

.creativecommons:before {
  content: "\ea87";
}

.music:before {
  content: "\e79a";
}

.dashang:before {
  content: "\e657";
}

.shuffle:before {
  content: "\ea75";
}

.dashang-01:before {
  content: "\e658";
}

.robot:before {
  content: "\eb62";
}

.theme:before {
  content: "\eb6f";
}

.dollar:before {
  content: "\eba1";
}

.server:before {
  content: "\e642";
}

.archives:before {
  content: "\e666";
}

.moshubang:before {
  content: "\ec5b";
}

.shujuwj:before {
  content: "\ec5c";
}

.bike:before {
  content: "\ec69";
}

.mysql:before {
  content: "\ec6d";
}

.car:before {
  content: "\ec6e";
}

.sand1:before {
  content: "\e643";
}

.maths:before {
  content: "\e644";
}

.bug:before {
  content: "\e8e8";
}

.heart:before {
  content: "\eca1";
}

.Acrobat-File:before {
  content: "\e77a";
}

.Butterfly:before {
  content: "\e8f3";
}

.Excel:before {
  content: "\e998";
}

.Word:before {
  content: "\e99a";
}

.Illustrator:before {
  content: "\e99d";
}

.Photoshop:before {
  content: "\e9a2";
}

.Powerpoint:before {
  content: "\e9a3";
}

.Atom:before {
  content: "\ec1c";
}

.Adobe:before {
  content: "\edd6";
}

.redpacket:before {
  content: "\e71d";
}

.Dimension:before {
  content: "\e66a";
}

.Git:before {
  content: "\e649";
}

.Git1:before {
  content: "\e64a";
}

.Git2:before {
  content: "\e64b";
}

.Git3:before {
  content: "\e64c";
}

.door:before {
  content: "\e832";
}

.envelope:before {
  content: "\e944";
}

.camera:before {
  content: "\e9ed";
}

.disk:before {
  content: "\e71f";
}

.study:before {
  content: "\e6b8";
}

.Pdf:before {
  content: "\e83c";
}

.remove:before {
  content: "\e84f";
}

.attack:before {
  content: "\e64f";
}

.groupico:before {
  content: "\e650";
}

.muma:before {
  content: "\e651";
}

.no:before {
  content: "\e652";
}

.company:before {
  content: "\e67a";
}

.motion:before {
  content: "\e653";
}

.surgery:before {
  content: "\e704";
}

.compass:before {
  content: "\e659";
}

.pass:before {
  content: "\e65c";
}

.shield:before {
  content: "\e65d";
}

.Fishing:before {
  content: "\e6cd";
}

.bilibili:before {
  content: "\e75d";
}

.shuyu:before {
  content: "\e65e";
}

.heart-beat:before {
  content: "\e663";
}

.gear:before {
  content: "\e8b7";
}

.jingdong:before {
  content: "\e65f";
}

.git1:before {
  content: "\e6a8";
}

.coins:before {
  content: "\e837";
}

.shuidi:before {
  content: "\e682";
}

.console:before {
  content: "\e6ca";
}

.linux:before {
  content: "\e669";
}

.php_elephant:before {
  content: "\e67e";
}

.defense:before {
  content: "\e79b";
}

.github:before {
  content: "\e6ea";
}

.nodejs:before {
  content: "\e703";
}

.rocket:before {
  content: "\e713";
}

.telegram:before {
  content: "\e727";
}

.adobexd:before {
  content: "\eb36";
}

.adobepremiere:before {
  content: "\eb37";
}

.archlinux:before {
  content: "\eb42";
}

.shield2:before {
  content: "\e66b";
}

.siwangdengji:before {
  content: "\e66d";
}

.no-equal:before {
  content: "\ec96";
}

.equal:before {
  content: "\ec99";
}

.Slashit:before {
  content: "\e66e";
}

.prison:before {
  content: "\e883";
}

.baidu:before {
  content: "\e8cb";
}

.hand:before {
  content: "\e91a";
}

.gesture:before {
  content: "\e6cf";
}

.nail:before {
  content: "\e869";
}

.xiaochengxu1:before {
  content: "\e66f";
}

.partnership:before {
  content: "\e6ec";
}

.no-pass:before {
  content: "\e6ce";
}

.shoudiantong:before {
  content: "\e6d1";
}

.git-pull-request-outline:before {
  content: "\e9ba";
}

.diaoyu:before {
  content: "\e670";
}

.weiruan1:before {
  content: "\e671";
}

.tizi:before {
  content: "\e75e";
}

.blog:before {
  content: "\eaf9";
}

.php:before {
  content: "\ec17";
}

.vuejs:before {
  content: "\ec2c";
}

.Mysql:before {
  content: "\e764";
}

.virus:before {
  content: "\e672";
}

.a-bianzu38:before {
  content: "\e750";
}

.hospital:before {
  content: "\e673";
}

.dunpai-no:before {
  content: "\e674";
}

.yueliang:before {
  content: "\e6b6";
}

.zhikongzhongxin-xian:before {
  content: "\e67d";
}

.a-191_cgs:before {
  content: "\e773";
}

.vip:before {
  content: "\e874";
}

.dis:before {
  content: "\e7d3";
}

.a-005_quantou:before {
  content: "\e675";
}

.web-search:before {
  content: "\e681";
}

.milk:before {
  content: "\10121";
}

.clash:before {
  content: "\e676";
}

.bijiben:before {
  content: "\e600";
}

.renzhengyonghu:before {
  content: "\e601";
}

.cart-full:before {
  content: "\e602";
}

.weiruan:before {
  content: "\e603";
}

.tushu:before {
  content: "\e604";
}

.mao:before {
  content: "\e605";
}

.codeico:before {
  content: "\e60c";
}

.copy:before {
  content: "\e60e";
}

.font:before {
  content: "\e620";
}

.upload:before {
  content: "\e656";
}

.warning:before {
  content: "\e606";
}

.git:before {
  content: "\e799";
}

.postico:before {
  content: "\e759";
}

.download2:before {
  content: "\e714";
}

.youxiyouxiji:before {
  content: "\e61e";
}

.backpack:before {
  content: "\e629";
}

.iconfonticonfonticons:before {
  content: "\e61c";
}

.jiahao:before {
  content: "\e726";
}

.taobao:before {
  content: "\e755";
}

.wxbgongju:before {
  content: "\e61b";
}

.cart:before {
  content: "\e63f";
}

.zhengque:before {
  content: "\e664";
}

.kefu:before {
  content: "\e621";
}

.ipad:before {
  content: "\e622";
}

.copy1:before {
  content: "\e744";
}

.duoyuyan:before {
  content: "\e654";
}

.plane:before {
  content: "\e655";
}

.huoche:before {
  content: "\e65b";
}

.qian:before {
  content: "\e662";
}

.dianhua:before {
  content: "\e797";
}

.ouyuan:before {
  content: "\e7fc";
}

.law:before {
  content: "\e61f";
}

.shield3:before {
  content: "\e647";
}

.shouye:before {
  content: "\e637";
}

.gugegoogle115:before {
  content: "\e8ff";
}

.dunpai:before {
  content: "\e645";
}

.woshiyisheng:before {
  content: "\e6d4";
}

.download:before {
  content: "\e60a";
}

.jiaoya:before {
  content: "\e635";
}

.wailian_icon:before {
  content: "\e63e";
}

.wordpresswordpress5:before {
  content: "\e73c";
}

.horn:before {
  content: "\e611";
}

.chrome-o:before {
  content: "\e646";
}

.toxic:before {
  content: "\e640";
}

.bus:before {
  content: "\e614";
}

.comment:before {
  content: "\e607";
}

.qzone:before {
  content: "\e608";
}

.category:before {
  content: "\e609";
}

.qq:before {
  content: "\e60b";
}

.mail:before {
  content: "\e60d";
}

.tag:before {
  content: "\e610";
}

.time:before {
  content: "\e612";
}

.view:before {
  content: "\e613";
}

.weixin:before {
  content: "\e615";
}

.weibo:before {
  content: "\e616";
}

.cloud:before {
  content: "\e617";
}

.earth:before {
  content: "\e618";
}

.pengyou:before {
  content: "\e619";
}

.android:before {
  content: "\e61a";
}

.apple:before {
  content: "\e61d";
}

.feed:before {
  content: "\e623";
}

.cuowuguanbiquxiao-xianxingyuankuang:before {
  content: "\e8e7";
}

.shijianzhou:before {
  content: "\e69a";
}

.shu:before {
  content: "\e624";
}

.banshou_Line:before {
  content: "\e64e";
}

.shanguangdengdakai:before {
  content: "\e873";
}

.tishi:before {
  content: "\e881";
}

.di-tie:before {
  content: "\e8c3";
}

.dengpao:before {
  content: "\e625";
}

.new:before {
  content: "\e626";
}

.star:before {
  content: "\e627";
}

.hot:before {
  content: "\e628";
}

.arrowup:before {
  content: "\e62a";
}

.arrowdown:before {
  content: "\e62b";
}

.editor:before {
  content: "\e62c";
}

.linkico:before {
  content: "\e62d";
}

.menu:before {
  content: "\e62e";
}

.canju:before {
  content: "\e62f";
}

.fenlei2:before {
  content: "\e630";
}

.home:before {
  content: "\e631";
}

.caozuo-wailian:before {
  content: "\e711";
}

.remen:before {
  content: "\e8f4";
}

.jianyu:before {
  content: "\e6f7";
}

.-disk:before {
  content: "\e661";
}

.offical:before {
  content: "\eb63";
}

.shujukanban:before {
  content: "\eb66";
}

.adobedreamweaver:before {
  content: "\e632";
}

.vim:before {
  content: "\e63c";
}

.python:before {
  content: "\e665";
}

.upload1:before {
  content: "\e6b7";
}

.jiatingguanxi:before {
  content: "\e6eb";
}

.yu:before {
  content: "\e633";
}

.chuidiao:before {
  content: "\e634";
}

.renshixuexiao:before {
  content: "\e636";
}

.shougongji:before {
  content: "\e709";
}

.code1:before {
  content: "\e7fd";
}

.fist:before {
  content: "\e638";
}

.language:before {
  content: "\e639";
}

.HTML:before {
  content: "\e87d";
}

.Gitlab:before {
  content: "\e87f";
}

.erji:before {
  content: "\e63a";
}

.pen:before {
  content: "\e63b";
}

.computer:before {
  content: "\e63d";
}

.dog:before {
  content: "\e712";
}

.sun:before {
  content: "\e641";
}

.gzlo:before {
  content: "\eb53";
}
