- const { darkmode } = theme

nav#nav
  #navbar
    span#blog_name
      a#site-name(href=url_for('/'))
        .title #[=theme.nav.title]
        i.fa-solid.fa-house
      #toggle-menu(style='margin:auto;')
        a.site-page(style='display:flex; align-items:center; height:35px;')
          i.fas.fa-bars-progress.fa-fw
          | 菜单

    #menus
      if (theme.algolia_search.enable || theme.local_search.enable)
        div.nav-button#search-button
          a.site-page.social-icon.search
            .search-button-text
              i.fas.fa-search.fa-fw
              span 搜索
      else
        div.nav-button
          a.site-page.social-icon.search
            .search-button-text
              i.fas.fa-search.fa-fw
              span 未开启

      .nav-button
        a.link(href="https://travellings.cn/go.html")
          i.fas.fa-bus
      

      !=partial('includes/header/menu_item', {}, {cache: true})

