.card-widget.card-webinfo
  .item-headline(style='width:fit-content;margin:auto;')
    i.dys.shujukanban(style='font-size:20px;margin-right:5px')
    span= _p('aside.card_webinfo.headline')
  .webinfo
    .webinfo-item
      .item-name
        i.dys.-disk(style='font-size:20px')
        .text 文章总数
      .item-count= site.posts.length
    .webinfo-item
      .item-name
        i.dys.view(style='font-size:20px')
        .text 总访问量
      .item-count#busuanzi_value_site_pv
    .webinfo-item
      .item-name
        i.dys.groupico(style='font-size:20px')
        .text 访问人次
      .item-count#busuanzi_value_site_uv
    .webinfo-item
      .item-name
        i.dys.postico(style='font-size:20px')
        .text 全站字数
      .item-count=totalcount(site)
    .webinfo-item
      .item-name
        i.dys.upload(style='font-size:20px')
        .text 最后更新
      .item-count#last-push-date(data-lastPushDate=date_xml(Date.now()))
        i.dys.spinner3.spin.ani

