if theme.aside.card_author.enable
  .card-widget.card-info
        .card-content
          .card-info-avatar.is-center
            .author-info__sayhi#author-info__sayhi 晚上好！我是
            .author-info__name= config.author
            .avatar-img
              img(src=url_for(theme.avatar.img) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt="avatar")
              .loading-image-dot
        .banner-button-group
          a.banner-button(href="/about/")
            i.fas.fa-circle-chevron-right
            span.banner-button-te
            xt 了解更多
  hrl.line(style="margin-top: 10px")