.footer
  padding: 15px
  #in
    background: var(--footer-bg)
    width 100%
    padding 0 15px 15px 15px
    text-align: center
    border: 1px solid var(--border)
    max-width: 1200px
    margin: 0 auto 20px
    border-radius: 18px
    @media screen and (max-width: 768px)
      margin: auto !important
      border-radius: 18px 18px 0 0
    .title
      display flex
      flex-direction: column-reverse
      text-align: center
      img
        position: relative
        height: 66px
        width 66px
        border-radius: 100vh
        top: -33px
        left: calc(50% - 33px)
    .author
      margin-top -33px
      text-align: center
      span.name
        font-weight: bolder
        font-size: 25px
      .links
        margin-bottom: 20px
        display flex
        flex-wrap: wrap
        justify-content: center
        a
          color: var(--heo-font)
          font-size: 25px
      .frame
        margin-top: 20px
        font-size: 18px
        font-weight: bolder
        i
          margin: 0 3px
    about.about
      a.footer-button
        padding: 15px
        margin: 6px
        color: #fff
        i
          line-height: 2
          margin-right: 2px